/*******BREAKPOINTS********/
/*******VARIABLES*********/
/**********FONTS**************/
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueL.ttf") format("ttf"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.otf") format("otf"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.woff") format("woff"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.eof") format("eof");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBd.ttf") format("ttf"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.otf") format("otf"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.woff") format("woff"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.eof") format("eof");
  font-weight: normal;
  font-style: normal; }

.benton-light {
  font-family: benton-sans, sans-serif;
  font-weight: 300;
  font-style: normal; }

.benton-regular {
  font-family: benton-sans, sans-serif;
  font-weight: 500;
  font-style: normal; }

.benton-bold {
  font-family: benton-sans, sans-serif;
  font-weight: 700;
  font-style: normal; }

/** LAYOUT **/
html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

ul, li {
  text-decoration: none;
  list-style-type: none; }

a {
  text-decoration: none; }

a.active, a:active, a:focus, a:hover {
  text-decoration: none !important; }

.header.clear {
  display: none; }

.centered {
  margin: 0 auto !important; }

.container {
  margin: 0 !important;
  padding: 0 !important; }

.center-text {
  text-align: center; }

.card {
  padding: 0px !important; }

.button {
  font-family: 'Helvetica Neue Bold', sans-serif;
  font-size: 18px;
  display: block;
  color: #fff;
  cursor: pointer;
  border: 4px solid #fff;
  padding: 13px;
  text-align: center; }
  .button:focus, .button:active, .button:visited, .button:hover {
    color: #fff !important; }

@media (max-width: 768px) {
  .col-9 {
    width: 90% !important; } }

@media (max-width: 435px) {
  .col-9 {
    width: 98% !important; } }

@media (max-width: 768px) {
  .col-6, .col-7, .col-8, .col-5, .col-4, .col-2 {
    width: 100% !important; } }

@media (max-width: 768px) {
  .col-1 {
    display: none !important; } }

/** SECTIONS **/
header {
  height: 78px; }
  header #menuNav {
    padding: 8px;
    position: relative; }
  header nav ul {
    position: absolute;
    right: 0px;
    top: 7px; }
    header nav ul li {
      display: inline-block;
      margin: 0px 0.8vw; }
      header nav ul li a {
        font-size: 16px;
        font-family: 'Helvetica Neue', sans-serif;
        color: #131313;
        font-weight: 600; }
        header nav ul li a.active {
          font-family: 'Helvetica Bold', sans-serif; }
      header nav ul li.separator {
        color: #cccccc; }

#headerHero {
  position: relative;
  min-height: 96vh;
  background-image: url("img/content/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #headerHero .content {
    padding: 22vh 0px; }
  #headerHero h2 {
    font-family: 'Helvetica Neue Bold', sans-serif;
    color: #131313;
    font-size: 72px;
    line-height: 72px; }
    #headerHero h2 strong {
      color: #0000ff; }
  #headerHero #headerHeroBtn {
    margin-top: 40px;
    background-color: #0000ff;
    color: #fff;
    padding: 26px;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Helvetica Neue Bold', sans-serif; }
  #headerHero #bottomHeaderBanner {
    background: linear-gradient(355deg, #4b4bf6 0%, rgba(145, 145, 240, 0.278051) 100%);
    position: absolute;
    bottom: 6px;
    display: none;
    height: 129px; }
    #headerHero #bottomHeaderBanner ul {
      display: inline-block;
      color: #fff;
      width: 100%; }
      #headerHero #bottomHeaderBanner ul li {
        font-family: 'Helvetica Neue', sans-serif;
        vertical-align: top;
        display: inline-block;
        max-width: 340px;
        margin: 0px 18px;
        font-size: 28px; }

#blackBanner {
  background: linear-gradient(97deg, #383838 0%, #131313 100%);
  color: #fff; }
  #blackBanner .content {
    padding: 46px 0px;
    text-align: center; }
    #blackBanner .content img {
      max-width: 220px; }
    #blackBanner .content p {
      font-family: 'Helvetica Neue';
      text-align: center;
      font-size: 19px; }

#firstBanner .content {
  padding: 64px 0px; }

#firstBanner h3, #firstBanner p {
  color: #0000ff; }

#firstBanner h3 {
  font-family: 'Helvetica Neue Bold', sans-serif;
  font-size: 36px; }

#firstBanner p {
  font-size: 19px; }

#firstBanner .description {
  position: relative;
  padding-left: 52px; }

#firstBanner .description:before {
  background: #0000c8;
  content: '';
  display: flex;
  position: absolute;
  top: 0;
  left: 26px;
  width: 8px;
  height: 100%; }

#CCM {
  background-color: #0000ff;
  color: #fff; }
  #CCM .image-container {
    text-align: center; }
  @media (max-width: 768px) {
    #CCM #smartPhone {
      max-width: 320px; } }
  #CCM .content {
    padding: 87px 0px; }
  #CCM .rightContent {
    padding-bottom: 64px; }
    #CCM .rightContent h3 {
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 53px;
      padding-bottom: 64px; }
    #CCM .rightContent h4 {
      font-family: 'Helvetica Neue Bold', sans-serif;
      margin-bottom: 36px; }
    #CCM .rightContent p {
      font-family: 'Helvetica Neue', sans-serif;
      margin-bottom: 52px;
      position: relative;
      padding-left: 52px; }
    #CCM .rightContent p:before {
      background: #0000c8;
      content: '';
      display: flex;
      position: absolute;
      top: 0;
      left: 26px;
      width: 8px;
      height: 100%; }
    #CCM .rightContent p, #CCM .rightContent h4 {
      font-size: 19px; }

#Formats {
  background-color: white; }
  #Formats .content {
    padding: 64px 0px; }
    #Formats .content .title-container h3 {
      color: #131313;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 46px;
      font-weight: 400;
      text-align: center; }
      #Formats .content .title-container h3 span {
        color: #0000ff;
        font-family: 'Helvetia Neue Bold', sans-serif;
        font-style: italic; }
  #Formats .slider {
    padding: 68px 0px; }
    #Formats .slider img {
      max-width: 220px;
      margin: 0 auto; }
    #Formats .slider p {
      text-align: center;
      font-family: 'Helvetia Neue Bold', sans-serif;
      font-size: 16px;
      font-weight: 600; }
    #Formats .slider .slick-slide {
      outline: none;
      cursor: pointer; }

#socialMedia {
  background-color: #f0f0f0;
  min-height: 1005px; }
  #socialMedia h3, #socialMedia p, #socialMedia li {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 600; }
  #socialMedia p, #socialMedia h4, #socialMedia li {
    font-size: 16px; }
  #socialMedia h3 {
    font-size: 46px; }
    #socialMedia h3 span {
      font-family: 'Helvetica Neue Bold', sans-serif; }
  #socialMedia h4 {
    font-family: 'Helvetica Neue Bold', sans-serif;
    color: #0000ff;
    font-weight: 600; }
  #socialMedia p {
    font-weight: 600; }
  #socialMedia li {
    margin-top: .1rem; }
  #socialMedia .title-container {
    padding-top: 64px; }
  #socialMedia .row.last {
    padding-bottom: 64px; }
  #socialMedia img {
    max-width: 100%; }

#Stats {
  background-color: #0000ff;
  color: #fff;
  font-family: 'Helvetica Neue Bold', sans-serif;
  min-height: 230px;
  text-align: center; }
  #Stats .content {
    padding: 32px 0px; }
    #Stats .content .stat {
      display: inline-block;
      text-align: center;
      padding-top: 32px;
      padding-bottom: 32px; }
      @media (max-width: 768px) {
        #Stats .content .stat {
          display: block; } }
      #Stats .content .stat span {
        display: block;
        margin: 0 3vw; }
      #Stats .content .stat .stat-number {
        font-size: 62px;
        margin-bottom: -26px; }
      #Stats .content .stat .stat-text {
        font-size: 39px; }

#whiteBook {
  min-height: 430px;
  background-image: url("img/content/white_book_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; }
  #whiteBook .content {
    padding: 98px 0px; }
    #whiteBook .content h3, #whiteBook .content p {
      font-family: 'Helvetica Neue', sans-serif; }
    #whiteBook .content h3 {
      font-size: 46px; }
      #whiteBook .content h3 span {
        font-family: 'Helvetica Bold', sans-serif; }
    #whiteBook .content p {
      font-size: 16px; }
    #whiteBook .content .button {
      background-color: #ffffff40; }

#expertsTeam {
  background-color: #f0f0f0; }
  #expertsTeam #cardsContainer {
    padding-top: 76px; }
    #expertsTeam #cardsContainer .card {
      background-color: #fff;
      border-radius: 0px;
      border: none;
      width: 33.3%;
      overflow: hidden; }
      @media (max-width: 768px) {
        #expertsTeam #cardsContainer .card {
          width: 100% !important; } }
      #expertsTeam #cardsContainer .card .card-image img {
        width: 100%; }
      #expertsTeam #cardsContainer .card .card-content {
        padding: 36px 64px; }
        #expertsTeam #cardsContainer .card .card-content h4 {
          font-family: 'Helvetica Neue Bold', sans-serif;
          font-size: 19px;
          margin-bottom: 18px; }
        #expertsTeam #cardsContainer .card .card-content p {
          font-family: 'Helvetica Neue', sans-serif;
          font-size: 16px; }
    #expertsTeam #cardsContainer .card-offset {
      margin-top: 64px; }
      @media (max-width: 768px) {
        #expertsTeam #cardsContainer .card-offset {
          margin-top: 0px; } }
  #expertsTeam .content {
    padding: 120px 0px; }
    #expertsTeam .content h3 {
      font-family: 'Helvetica Neue Bold', sans-serif; }
      #expertsTeam .content h3 span {
        font-family: 'Helvetica Neue', sans-serif; }
    #expertsTeam .content h3, #expertsTeam .content span {
      font-size: 42px; }

#Credits {
  background-color: #0000ff;
  color: #fff; }
  #Credits .content {
    padding: 76px 0px; }
    #Credits .content h3, #Credits .content h4 {
      font-family: 'Helvetica Neue', sans-serif; }
    #Credits .content h3 {
      font-size: 46px; }
      #Credits .content h3 span {
        font-family: 'Helvetica Neue Bold', sans-serif; }
    #Credits .content h4 {
      font-size: 16px; }
    #Credits .content .buttonContainer {
      margin-top: 16px; }

#Contact {
  background-color: #fff; }
  #Contact .wpcf7-response-output {
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  #Contact .content {
    padding: 72px 0px; }
    #Contact .content h3 {
      font-size: 44px;
      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 600;
      margin-bottom: 0px; }
      #Contact .content h3 strong {
        color: #0000ff;
        font-family: 'Helvetica Neue Bold', sans-serif; }
  #Contact .wpcf7 {
    margin: 0 auto; }
  #Contact form {
    padding-top: 46px; }
    @media (max-width: 768px) {
      #Contact form .col-6, #Contact form .col-12 {
        margin-bottom: 18px; } }
    #Contact form .row {
      margin-bottom: 36px; }
      @media (max-width: 768px) {
        #Contact form .row {
          margin-bottom: 0px; } }
    #Contact form textarea, #Contact form input[type=submit] {
      width: 100%; }
    #Contact form textarea, #Contact form input[type=submit], #Contact form input {
      border: none;
      padding: 10px 20px;
      outline: none;
      background-color: #f0f0f0;
      width: 100%; }
    #Contact form input[type=submit] {
      background-color: #0000ff;
      color: #fff;
      font-weight: 600;
      font-family: 'Helvetica Neue Bold', sans-serif;
      font-size: 18px;
      padding: 16px; }

#footer {
  height: 120px;
  background-color: #131313; }
