@import 'include-media.scss';

/*******BREAKPOINTS********/
$breakpoints: (small: 0px, xsmall: 345px, mobile: 435px, tablet: 768px, large: 1024px, xlarge: 1280px, cardbkp: 1298px, xxlarge: 1440px, footerbkp: 1680px, hirez: 1780px);

/*******VARIABLES*********/
$color-blue: #0000ff;
$color-black: #131313;
$color-grey: #f0f0f0;
$color-midgrey: #cccccc;
$color-gradient-dark: #4b4bf6;
$color-gradient-light: #9191f0;
$color-bcgradient-clear: #383838;
$color-bcgradient-dark: #131313;
$color-darkblue: #0000c8;

/**********FONTS**************/
@font-face {
    font-family: 'Helvetica Neue';
    src:
        url('../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueL.ttf') format('ttf'),
        url('../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.otf') format('otf'),
        url('../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.woff') format('woff'),
        url('../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.eof') format('eof');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src:
        url('../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBd.ttf') format('ttf'),
        url('../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.otf') format('otf'),
        url('../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.woff') format('woff'),
        url('../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.eof') format('eof');
    font-weight: normal;
    font-style: normal;
}

.benton-light {
    font-family: benton-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.benton-regular {
    font-family: benton-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.benton-bold {
    font-family: benton-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/** LAYOUT **/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body, a,p, span, li {
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

.hidden{
    display: none!important;
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
}

ul {
    @include media('<=tablet') {
        margin: 0px !important;
    }
}

a {
    text-decoration: none;
}

a.active,
a:active,
a:focus,
a:hover {
    text-decoration: none !important;
}

.header.clear {
    display: none;
}

.centered {
    margin: 0 auto !important;
}

.container {
    margin: 0 !important;
    padding: 0 !important
}

.center-text {
    text-align: center;
}

.card {
    padding: 0px !important;
}

.button {
    font-family: 'Helvetica Neue Bold', sans-serif;
    font-size: 18px;
    display: block;
    color: #fff!important;
    cursor: pointer;
    border: 4px solid #fff;
    padding: 13px;
    text-align: center;
    transition: 0.5s ease;
    &.button-black,
    &.button-black:visited{
        color:  $color-bcgradient-clear!important;
        border: 4px solid $color-bcgradient-clear;
    }
    &.button-black:hover,
    &.button-black:active,
    &.button-black:focus{
        color:  #fff!important;
        background-color:  $color-bcgradient-clear!important;
    }
    &:focus,
    &:active,
    &:hover {
        color: $color-blue !important;
        background-color: #fff;
    }
}

.col-9 {
    @include media('<=large') {
        width: 90% !important;
    }

    @include media('<=mobile') {}
}

.col-6,
.col-7,
.col-8,
.col-5,
.col-4,
.col-2 {
    @include media('<=large') {
        width: 100% !important;
    }
}

.col-1 {
    @include media('<=large') {
        display: none !important;
    }
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ok {
    border: none;
}

.bar{
    background-color: #fff!important;
    border: 1px solid black;
    margin-bottom: 6px;
}

.bar .bar-item {
    background: $color-blue!important;;
}

.bar-infos{
    @include media('<=tablet') {
        width: 100%!important;
    }
    strong{
        float: left;
    }
}

.lb-close{
    display: none!important;
}


/** SECTIONS **/

header,
footer {
    height: 78px;
    @include media('<=footerbkp') {
        height: auto;
        text-align: center;
    }
    #menuNav,
    #footerNav {
        text-align: left;
        padding: 8px 0px;
        position: relative;
        @include media('<=xlarge') {
            text-align: center;
        }
        @include media('<=tablet') {
            padding: 16px 0px;
        }
        a:visited {
            color: $color-black !important;
        }
        a:focus,
        a:hover,
        a:active {
            color: $color-blue !important;
            font-weight: 800;
            transition: 0.5s ease;
        }
    }

    #menuLogo,
    #footerLogo {
        @include media('<=large') {
            text-align: center;
        }

        max-width: 132px;
    }

    nav {
        ul {
            float: right;
            @include media('<=footerbkp') {
                position: relative;
                right: 0px;
                top: 0px;
            }
            @include media('<=xlarge') {
                float: none;
            }
            li {
                display: inline-block;
                margin: 0px 0.4vw;
                a {
                    font-size: 16px;
                    font-family: 'Helvetica Neue', sans-serif;
                    color: $color-black;
                    font-weight: 600;

                    &.active {
                        font-family: 'Helvetica Bold', sans-serif;
                    }
                }
                &.separator {
                    color: $color-midgrey;
                }
            }
        }
    }

}

#catalogueHeader{
    text-align: center!important;
    height: auto;
    #menuNav{
        text-align: center!important;
    }
    img{
        width: 232px!important;
        max-width: auto;
        padding-top: 32px;
        padding-bottom: 12px;
        @include media('<=hirez') {
            padding-top: 16px;
        }
    }
    h2 {
        color: $color-black;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 32px;
        @include media('<=hirez') {
            padding-bottom: 16px;
        }
        span {
            color: $color-blue;
            font-family: 'Helvetia Neue Bold', sans-serif;
            font-style: italic;
        }
    }
}

#catalogueBlueNav{
    background-color: $color-blue;
    color: #fff;
    text-align: center;
    padding: 16px 0px;
    font-size: 18px;
    @include media('<=hirez') {
        padding: 8px 0px;
    }
    a, a:active, a:focus, a:visited, a:hover{
        color: #fff;
    }
    a:hover, .active{
        font-weight: bolder;
    }
    ul{
        li{
            font-family: 'Helvetia Neue Bold', sans-serif;
            font-weight: bolder;
            display: inline-block;
            margin: 0px 3px;
            @include media('<=tablet') {
                padding: 12px 0px;
            }
            /*@include media('<=mobile') {
                display: block;
                border-bottom: 1px solid #fff;
            }
            &.separator{
                @include media('<=mobile') {
                    display: none;
                }
            }*/
        }
     
    }
}
footer {
    background: linear-gradient(97deg, rgba(56, 56, 56, 1) 0%, rgba(19, 19, 19, 1) 100%);
    min-height: 120px;
    height: auto;
    @include media('<=footerbkp') {
        text-align: center;
    }
    #footerNav {
        padding: 28px 0px;
        a:visited {
            color: #fff !important;
        }
        a:focus,
        a:hover,
        a:active {
            color: #fff !important;
            font-weight: 800;
            transition: 0.5s ease;
        }
        ul {
            @include media('<=xxlarge') {
                display: inline-block;
            }
            @include media('<=tablet') {
               float: none;
            }
            li {
                a {
                    color: #fff;
                }
                &.separator {
                    color: #585858;
                }
            }
        }
    }
    #footerlogo {
        max-width: 126px;
        margin-bottom: 18px;
    }
    p{
        color: #fff;
        font-size: 12px;
        font-family: 'Helvetica Neue', sans-serif;
        display: inline-block;
        vertical-align: top;
        padding: 20px 0px;
        margin-left: 12px;
    }
}

#headerHero {
    position: relative;
    min-height: calc(100vh - 84px);
    background-image: url('img/content/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .col-8 {
        width: 66.66666667% !important;
        @include media('<=mobile') {
            width: 100% !important;
        }
    }
    .col-6 {
        width: 50% !important;
        @include media('<=tablet') {
            width: 83.33333333% !important;
        }
        @include media('<=mobile') {
            width: 100% !important;
        }
    }
    @include media('<=large') {
        background-position: bottom;
    }
    .content {
        padding: 21vh 0vh;
        @include media('<=xxlarge') {
            padding: 16vh 0vh;
        }
        @include media('<=mobile') {
            padding: 16vh 0vh;
        }
    }
    h2 {
        font-family: 'Helvetica Neue Bold', sans-serif;
        color: $color-black;
        font-size: 72px;
        line-height: 72px;
        @include media('<=hirez') {
            font-size: 52px;
            line-height: 52px;
        }
        @include media('<=xxlarge') {
            font-size: 52px;
            line-height: 52px;
        }
        @include media('<=large') {
            font-size: 46px;
            line-height: 46px;
        }
        @include media('<=mobile') {
            font-size: 36px;
            line-height: 36px;
        }
        strong {
            color: $color-blue;
        }
    }

    #headerHeroBtn {
        margin-top: 26px;
        background-color: $color-blue;
        color: #fff;
        padding: 22px;
        transition: 0.5s ease;
        &:active,
        &:focus,
        &:hover{
                background-color: #fff !important;
                color: $color-blue !important;
                transition: 0.5s ease;
        }
        @include media('<=mobile') {
            padding: 18px;
        }
        display: block;
        text-align: center;
        font-size: 25px;
        font-family: 'Helvetica Neue Bold', sans-serif;
        z-index: 10;
        @include media('<=hirez') {
            font-size: 18px;
        }
        @include media('<=large') {
            font-size: 16px;
        }
        @include media('<=mobile') {
            font-size: 15px;
        }
    }

    #bottomHeaderBanner {
        background: linear-gradient(355deg, rgba(75, 75, 246, 1) 0%, rgba(145, 145, 240, 0.2780509691559867) 100%);
        position: absolute;
        bottom: 0px;
        @include media('<=mobile') {
            position: relative;
        }

        .col-4 {
            width: 33.33333333% !important;

            @include media('<=mobile') {
                width: 100% !important;
            }
        }

        .content {
            padding: 32px 0px;
            p {
                color: #fff;
                font-family: 'Helvetica Neue', sans-serif;
                vertical-align: top;
                display: inline-block;
                position: relative;
                max-width: 340px;
                margin: 0px 18px;
                font-size: 26px;
                line-height: 26px;
                padding-left: 26px;
                padding-right: 26px;
                @include media('<=hirez') {
                    font-size: 22px;
                    line-height: 22px;
                    padding-left: 22px;
                    padding-right: 22px;
                }

                @include media('<=large') {
                    font-size: 18px;
                    margin: 6px 18px;
                }
            }

            p:before {
                background: #fff;
                content: '';
                display: flex;
                position: absolute;
                top: 0;
                left: 0px;
                width: 8px;
                height: 100%;

                @include media('<=mobile') {
                    width: 4px;
                }
            }
        }
    }
}


#blackBanner {
    background: linear-gradient(97deg, rgba(56, 56, 56, 1) 0%, rgba(19, 19, 19, 1) 100%);
    color: #fff;
    .col-1 {
        width: 8.33333333% !important;
        @include media('<=mobile') {
            width: 100% !important;
        }
    }

    .col-2 {
        width: 16.66666667% !important;
        @include media('<=mobile') {
            width: 100% !important;
        }
    }

    .content {
        padding: 46px 0px;
        text-align: center;
        img {
            max-width: 220px;

            @include media('<=large') {
                max-width: 144px;
            }
        }

        p {
            font-family: 'Helvetica Neue';
            text-align: center;
            font-size: 19px;
        }
    }
}

#firstBanner, #catalogueBlackBanner {
    .content {
        padding: 64px 0px;
        @include media('<=hirez') {
     
        }
    }
    h3,
    p {
        color: $color-blue;
    }
    h3 {
        font-family: 'Helvetica Neue Bold', sans-serif;
        font-size: 36px;
        @include media('<=hirez') {
            font-size: 28px;
        }
        @include media('<=large') {
            text-align: center;
        }

        @include media('<=mobile') {
            font-size: 26px;
            text-align: left;
        }
    }
    p {
        font-size: 20px;
        @include media('<=hirez') {
            font-size: 17px;
        }
    }
    .description {
        position: relative;
        padding-left: 52px;

        @include media('<=mobile') {
            padding-left: 0px;
        }
    }
    .description:before {
        background: $color-darkblue;
        content: '';
        display: flex;
        position: absolute;
        top: 0;
        left: 26px;
        width: 8px;
        height: 100%;
        @include media('<=mobile') {
            display: none;
        }
    }
}

#catalogueBlackBanner {
    background: linear-gradient(97deg, rgba(56, 56, 56, 1) 0%, rgba(19, 19, 19, 1) 100%);
    h3,
    p {
        color: #fff;
    }
    h3 {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 36px;
        @include media('<=hirez') {
            font-size: 36px;
        }
        @include media('<=mobile') {
            font-size: 26px;
            text-align: left;
        }
    }
    .description:before {
        background-color: #fff; 
    }
}

#CCM {
    background-color: $color-blue;
    color: #fff;

    .image-container {
        text-align: center;
    }

    #smartPhone {
        @include media('<=large') {
            max-width: 260px;
        }
    }

    .content {
        padding: 87px 0px;

        @include media('<=mobile') {
            padding: 32px 0px;
        }
    }

    .rightContent {
        h3 {
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 53px;
            padding-bottom: 64px;
            @include media('<=hirez') {
                font-size: 46px;
            }
            @include media('<=large') {
                text-align: center;
            }
            @include media('<=mobile') {
                padding-bottom: 32px;
                font-size: 46px;
            }
        }

        h4 {
            font-family: 'Helvetica Neue Bold', sans-serif;
            margin-bottom: 36px;

            @include media('<=large') {
                text-align: center;
            }
        }

        p {
            font-family: 'Helvetica Neue', sans-serif;
            margin-bottom: 52px;
            position: relative;
            padding-left: 52px;
            @include media('<=mobile') {
                padding-left: 0px;
                text-align: center;
            }
        }

        p:before {
            background: $color-darkblue;
            content: '';
            display: flex;
            position: absolute;
            top: 0;
            left: 26px;
            width: 8px;
            height: 100%;

            @include media('<=mobile') {
                display: none;
            }
        }

        p,
        h4 {
            font-size: 19px;
        }

        padding-bottom: 64px;
    }
}

#Formats {
    background-color: white;

    .content {
        padding: 64px 0px;


        .title-container {
            h3 {
                color: $color-black;
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 46px;
                font-weight: 400;
                text-align: center;

                @include media('<=hirez') {
                    font-size: 36px;
                }

                span {
                    color: $color-blue;
                    font-family: 'Helvetia Neue Bold', sans-serif;
                    font-style: italic;
                }
            }
        }
    }

    .slider {
        //padding: 68px 0px;
        padding-bottom: 132px;

        @include media('<=mobile') {
            padding: 32px 0px;
        }

        img {
            max-width: 220px;
            margin: 0 auto;
        }

        p {
            text-align: center;
            font-family: 'Helvetia Neue Bold', sans-serif;
            font-size: 16px;
            font-weight: 600;
        }

        .slick-slide {
            outline: none;
            cursor: pointer;
        }
        .slick-dots {
            @include media('>=large') {
                bottom: 72px;
            }
        }
    }
}

#Exemples, .Section1, .Section3, .Section2, .Section4 {
    h3,p,li {
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 600;
    }
    p,h4,li {
        font-size: 16px;
    }
    ul {
        margin-left: 0px;
        @include media('<=large') {
            margin: 0px;
        }
    }
    h3 {
        font-size: 46px;
        @include media('<=mobile') {
            font-size: 36px;
        }
        span {
            font-family: 'Helvetica Neue Bold', sans-serif;
        }
    }
    h4 {
        font-family: 'Helvetica Neue Bold', sans-serif;
        color: $color-blue;
        font-weight: 600;
        margin-bottom: 16px;
    }
    p {
        font-weight: 600;
    }
    li {
        margin-top: 0px;
    }
    .content{
        @include media('<=tablet') {
            text-align: center;
        }
        @include media('<=mobile') {
            text-align: left;
        }
    }
    .title-container {
        padding-top: 0px;
    }
    .image-container, .video-container {
        overflow: hidden;
        video{
            width: 100%!important;
            height: auto;
        }
        @include media('<=large') {
            padding-top: 64px;
            @include media('<=tablet') {
                text-align: center;
                padding-top: 32px;
             }
            @include media('<=mobile') {
                text-align: center;
            }
        }
    }
    .image-container{
        max-height: 500px;
    }
    .title-container{
        @include media('<=tablet') {
            padding-top: 32px;
        }
    }
    .image-left{
        text-align: left!important;
    }
    .image-right{
        text-align: right!important;
    }

    img {
        max-width: 100%;
   
    }
}

#Exemples{
    background-color: #f0f0f0;
    .Section1, .Section2{
       background-color: #f0f0f0!important;
       .content{
            padding: 0px;
        }
    }
    .buttonContainer{
        margin-top: 64px;
    }
    h3,p,li {
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 600;
    }
    .content{
        transform: translateY(-118px);
        margin-bottom: - 118px;
        @include media('<=large') {
            transform: translateY(0px);
            margin-bottom: 0px;
        }
    }
    .title-container {
        padding-top: 64px;
        @include media('<=mobile') {
            padding-top: 32px;
        }
    }
    .row.last {
        padding-bottom: 64px;
        @include media('<=mobile') {
            padding-top: 32px;
        }
    }
}

.Section1{
    background-color: #fff;
}

.Section2{
    background-color: #f0f0f0;
}

.Section1, .Section2{
    h3, h4, strong{
        font-family: 'Helvetica Neue Bold', sans-serif;
    }
    .content{
        padding: 60px 0px;
        @include media('<=tablet') {
            padding: 32px 0px;
         }
    }
    ul li{
        list-style-type: disc;
    }
    i{
        float: right;
    }
}

#Stats {
    background-color: $color-blue;
    color: #fff;
    font-family: 'Helvetica Neue Bold', sans-serif;
    min-height: 230px;
    text-align: center;

    .content {
        padding: 32px 0px;

        .stat {
            display: inline-block;
            text-align: center;
            padding-top: 32px;
            padding-bottom: 32px;
            @include media('<=mobile') {
                display: block;
                padding-top: 0px;
            }

            span {
                display: block;
                margin: 0 3vw;
            }

            .stat-number {
                font-family: 'Helvetica Neue Bold', sans-serif;
                font-size: 62px;
                margin-bottom: -26px;
                @include media('<=large') {
                    font-size: 48px;
                }
            }

            .stat-text {
                font-size: 39px;
            }
        }
    }

}

#whiteBook {
    min-height: 430px;
    background-image: url('img/content/white_book_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    .content {
        padding: 98px 0px;

        h3,
        p {
            font-family: 'Helvetica Neue', sans-serif;
        }

        h3 {
            font-size: 46px;

            @include media('<=mobile') {
                font-size: 36px;
            }

            span {
                font-family: 'Helvetica Bold', sans-serif;
            }
        }

        p {
            font-size: 16px;
        }

        .button {
            background-color: #ffffff40;
            transition: 0.5s ease;
            &:hover,
            &:active,
            &:focus{
                background-color: #fff;
                transition: 0.5s ease;
            }
        }
    }

}

#expertsTeam {
    background-color: $color-grey;
    #teamLogo{
        max-width: 232px;
    }

    #cardsContainer {
        padding-top: 76px;
        text-align: center;

        @include media('<=large') {
            padding-top: 36px;
        }

        .card {
            display: inline-block;
            background-color: #fff;
            border-radius: 0px;
            border: none;
            overflow: hidden;
            height: 589px;
            width: 428px;
            margin-left: -2px;
            margin-right: -2px;
            vertical-align: top;
            @include media('<=cardbkp') {
                display: block;
                margin: 32px auto;
            }
            @include media('<=mobile') {
                width: 100%;
                height: auto;
                margin: 0px;
            }
            .card-image {
                img {
                    width: 100%;
                }
            }

            .card-content {
                padding: 36px 64px;

                h4 {
                    font-family: 'Helvetica Neue Bold', sans-serif;
                    font-size: 19px;
                    margin-bottom: 18px;
                }

                p {
                    font-family: 'Helvetica Neue', sans-serif;
                    font-size: 16px;

                }
            }
        }

        .card-offset {
            margin-top: 64px;
            @include media('<=cardbkp') {
                margin-top: 0px;
            }
        }
    }

    .content {
        padding: 64px 0px;
        @include media('<=large') {
            padding: 60px 0px;
        }
        @include media('<=mobile') {
            padding: 60px 0px 0px 0px;
        }
        h3 {
            font-family: 'Helvetica Neue Bold', sans-serif;

            span {
                font-family: 'Helvetica Neue', sans-serif;
            }
        }

        h3,
        span {
            font-size: 42px;
            @include media('<=hirez') {
                font-size: 33px;
            }
            @include media('<=mobile') {
                font-size: 26px;
            }
        }
    }
}

#Credits {
    background-color: $color-blue;
    color: #fff;

    .content {
        padding: 76px 0px;

        h3,
        h4 {
            font-family: 'Helvetica Neue', sans-serif;
        }

        h3 {
            font-size: 46px;

            @include media('<=mobile') {
                font-size: 36px;
            }

            span {
                font-family: 'Helvetica Neue Bold', sans-serif;
            }
        }

        h4 {
            font-size: 16px;
        }

        .buttonContainer {
            margin-top: 16px;
        }
    }
}

#Contact {
    background-color: #fff;

    .wpcf7-response-output {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .content {
        padding: 72px 0px;

        h3 {
            font-size: 44px;
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 600;
            margin-bottom: 0px;

            @include media('<=mobile') {
                font-size: 36px;
            }

            strong {
                color: $color-blue;
                font-family: 'Helvetica Neue Bold', sans-serif;
            }
        }
    }

    .wpcf7 {
        margin: 0 auto;
        @include media('<=tablet') {
            text-align: center;
        }
    }

    form {

        padding-top: 46px;

        .col-6,
        .col-12 {
            @include media('<=large') {
                margin-bottom: 18px;
            }
        }

        .row {
            margin-bottom: 36px;

            @include media('<=large') {
                margin-bottom: 0px;
            }
        }

        textarea,
        input[type=submit] {
            width: 100%;
        }

        textarea,
        input[type=submit],
        input {
            border: none;
            padding: 10px 20px;
            outline: none;
            background-color: #f0f0f0;
            width: 100%;
        }

        input[type=submit] {
            background-color: $color-blue;
            color: #fff;
            transition: 0.5s ease;
            font-weight: 600;
            font-family: 'Helvetica Neue Bold', sans-serif;
            font-size: 18px;
            padding: 16px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            transition: 0.5s ease;
            &:hover,
            &:active,
            &:focus{
               /* transform: scale(1.01);
                transition: 0.5s ease;*/
            }
        }
    }
}