/*******BREAKPOINTS********/
/*******VARIABLES*********/
/**********FONTS**************/
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueL.ttf") format("ttf"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.otf") format("otf"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.woff") format("woff"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueLight.eof") format("eof");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBd.ttf") format("ttf"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.otf") format("otf"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.woff") format("woff"), url("../html5blank-stable/fonts/HelveticaNeue/HelveticaNeueBold.eof") format("eof");
  font-weight: normal;
  font-style: normal; }

.benton-light {
  font-family: benton-sans, sans-serif;
  font-weight: 300;
  font-style: normal; }

.benton-regular {
  font-family: benton-sans, sans-serif;
  font-weight: 500;
  font-style: normal; }

.benton-bold {
  font-family: benton-sans, sans-serif;
  font-weight: 700;
  font-style: normal; }

/** LAYOUT **/
html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

*:focus, *:active, *:hover {
  box-shadow: none !important; }

* {
  box-sizing: border-box; }

body, a, p, span, li {
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto; }

.hidden {
  display: none !important; }

ul,
li {
  text-decoration: none;
  list-style-type: none; }

@media (max-width: 768px) {
  ul {
    margin: 0px !important; } }

a {
  text-decoration: none; }

a.active,
a:active,
a:focus,
a:hover {
  text-decoration: none !important; }

.header.clear {
  display: none; }

.centered {
  margin: 0 auto !important; }

.container {
  margin: 0 !important;
  padding: 0 !important; }

.center-text {
  text-align: center; }

.card {
  padding: 0px !important; }

.button {
  font-family: 'Helvetica Neue Bold', sans-serif;
  font-size: 18px;
  display: block;
  color: #fff !important;
  cursor: pointer;
  border: 4px solid #fff;
  padding: 13px;
  text-align: center;
  transition: 0.5s ease; }
  .button.button-black, .button.button-black:visited {
    color: #383838 !important;
    border: 4px solid #383838; }
  .button.button-black:hover, .button.button-black:active, .button.button-black:focus {
    color: #fff !important;
    background-color: #383838 !important; }
  .button:focus, .button:active, .button:hover {
    color: #0000ff !important;
    background-color: #fff; }

@media (max-width: 1024px) {
  .col-9 {
    width: 90% !important; } }

@media (max-width: 1024px) {
  .col-6,
  .col-7,
  .col-8,
  .col-5,
  .col-4,
  .col-2 {
    width: 100% !important; } }

@media (max-width: 1024px) {
  .col-1 {
    display: none !important; } }

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ok {
  border: none; }

.bar {
  background-color: #fff !important;
  border: 1px solid black;
  margin-bottom: 6px; }

.bar .bar-item {
  background: #0000ff !important; }

@media (max-width: 768px) {
  .bar-infos {
    width: 100% !important; } }

.bar-infos strong {
  float: left; }

.lb-close {
  display: none !important; }

/** SECTIONS **/
header,
footer {
  height: 78px; }
  @media (max-width: 1680px) {
    header,
    footer {
      height: auto;
      text-align: center; } }
  header #menuNav,
  header #footerNav,
  footer #menuNav,
  footer #footerNav {
    text-align: left;
    padding: 8px 0px;
    position: relative; }
    @media (max-width: 1280px) {
      header #menuNav,
      header #footerNav,
      footer #menuNav,
      footer #footerNav {
        text-align: center; } }
    @media (max-width: 768px) {
      header #menuNav,
      header #footerNav,
      footer #menuNav,
      footer #footerNav {
        padding: 16px 0px; } }
    header #menuNav a:visited,
    header #footerNav a:visited,
    footer #menuNav a:visited,
    footer #footerNav a:visited {
      color: #131313 !important; }
    header #menuNav a:focus,
    header #menuNav a:hover,
    header #menuNav a:active,
    header #footerNav a:focus,
    header #footerNav a:hover,
    header #footerNav a:active,
    footer #menuNav a:focus,
    footer #menuNav a:hover,
    footer #menuNav a:active,
    footer #footerNav a:focus,
    footer #footerNav a:hover,
    footer #footerNav a:active {
      color: #0000ff !important;
      font-weight: 800;
      transition: 0.5s ease; }
  header #menuLogo,
  header #footerLogo,
  footer #menuLogo,
  footer #footerLogo {
    max-width: 132px; }
    @media (max-width: 1024px) {
      header #menuLogo,
      header #footerLogo,
      footer #menuLogo,
      footer #footerLogo {
        text-align: center; } }
  header nav ul,
  footer nav ul {
    float: right; }
    @media (max-width: 1680px) {
      header nav ul,
      footer nav ul {
        position: relative;
        right: 0px;
        top: 0px; } }
    @media (max-width: 1280px) {
      header nav ul,
      footer nav ul {
        float: none; } }
    header nav ul li,
    footer nav ul li {
      display: inline-block;
      margin: 0px 0.4vw; }
      header nav ul li a,
      footer nav ul li a {
        font-size: 16px;
        font-family: 'Helvetica Neue', sans-serif;
        color: #131313;
        font-weight: 600; }
      header nav ul li.separator,
      footer nav ul li.separator {
        color: #cccccc; }

#catalogueHeader {
  text-align: center !important;
  height: auto; }
  #catalogueHeader #menuNav {
    text-align: center !important; }
  #catalogueHeader img {
    width: 232px !important;
    max-width: auto;
    padding-top: 32px;
    padding-bottom: 12px; }
    @media (max-width: 1780px) {
      #catalogueHeader img {
        padding-top: 16px; } }
  #catalogueHeader h2 {
    color: #131313;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 32px; }
    @media (max-width: 1780px) {
      #catalogueHeader h2 {
        padding-bottom: 16px; } }
    #catalogueHeader h2 span {
      color: #0000ff;
      font-family: 'Helvetia Neue Bold', sans-serif;
      font-style: italic; }

#catalogueBlueNav {
  background-color: #0000ff;
  color: #fff;
  text-align: center;
  padding: 16px 0px;
  font-size: 17px; }
  @media (max-width: 1780px) {
    #catalogueBlueNav {
      padding: 8px 0px; } }
  #catalogueBlueNav a, #catalogueBlueNav a:active, #catalogueBlueNav a:focus, #catalogueBlueNav a:visited, #catalogueBlueNav a:hover {
    color: #fff;
    border-bottom: 1px solid #fff; }
  #catalogueBlueNav a:hover, #catalogueBlueNav .active {
    font-weight: bolder; }
  #catalogueBlueNav .separator a {
    border-bottom: none !important; }
  #catalogueBlueNav ul li {
    font-family: 'Helvetia Neue Bold', sans-serif;
    font-weight: bolder;
    display: inline-block;
    margin: 0px 3px;
    /*@include media('<=mobile') {
                display: block;
                border-bottom: 1px solid #fff;
            }
            &.separator{
                @include media('<=mobile') {
                    display: none;
                }
            }*/ }
    @media (max-width: 768px) {
      #catalogueBlueNav ul li {
        padding: 12px 0px; } }

footer {
  background: linear-gradient(97deg, #383838 0%, #131313 100%);
  min-height: 120px;
  height: auto; }
  @media (max-width: 1680px) {
    footer {
      text-align: center; } }
  footer #footerNav {
    padding: 28px 0px; }
    footer #footerNav a:visited {
      color: #fff !important; }
    footer #footerNav a:focus,
    footer #footerNav a:hover,
    footer #footerNav a:active {
      color: #fff !important;
      font-weight: 800;
      transition: 0.5s ease; }
    @media (max-width: 1440px) {
      footer #footerNav ul {
        display: inline-block; } }
    @media (max-width: 768px) {
      footer #footerNav ul {
        float: none; } }
    footer #footerNav ul li a {
      color: #fff; }
    footer #footerNav ul li.separator {
      color: #585858; }
  footer #footerlogo {
    max-width: 126px;
    margin-bottom: 18px; }
  footer p {
    color: #fff;
    font-size: 12px;
    font-family: 'Helvetica Neue', sans-serif;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0px;
    margin-left: 12px; }

#scrollToTop {
  font-size: 24px;
  text-align: center;
  padding: 24px 0px;
  position: fixed;
  right: 12px;
  bottom: 0px; }

#headerHero {
  position: relative;
  min-height: calc(100vh - 84px);
  background-image: url("img/content/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #headerHero .tagline {
    font-family: 'Helvetica Neue Bold', sans-serif;
    font-style: italic;
    font-size: 18px !important;
    line-height: 24px !important;
    padding-top: 26px;
    display: inline-block;
    color: #fff !important; }
  #headerHero .col-8 {
    width: 66.66666667% !important; }
    @media (max-width: 435px) {
      #headerHero .col-8 {
        width: 100% !important; } }
  #headerHero .col-6 {
    width: 50% !important; }
    @media (max-width: 768px) {
      #headerHero .col-6 {
        width: 83.33333333% !important; } }
    @media (max-width: 435px) {
      #headerHero .col-6 {
        width: 100% !important; } }
  @media (max-width: 1024px) {
    #headerHero {
      background-position: bottom; } }
  #headerHero .content {
    padding: 21vh 0vh; }
    @media (max-width: 1440px) {
      #headerHero .content {
        padding: 16vh 0vh; } }
    @media (max-width: 435px) {
      #headerHero .content {
        padding: 16vh 0vh; } }
  #headerHero h2 {
    font-family: 'Helvetica Neue Bold', sans-serif;
    color: #fff;
    font-size: 72px;
    line-height: 72px; }
    @media (max-width: 1780px) {
      #headerHero h2 {
        font-size: 52px;
        line-height: 52px; } }
    @media (max-width: 1440px) {
      #headerHero h2 {
        font-size: 52px;
        line-height: 52px; } }
    @media (max-width: 1024px) {
      #headerHero h2 {
        font-size: 46px;
        line-height: 46px; } }
    @media (max-width: 435px) {
      #headerHero h2 {
        font-size: 36px;
        line-height: 36px; } }
    #headerHero h2 strong {
      color: #0000ff; }
  #headerHero #headerHeroBtn {
    margin-top: 26px;
    background-color: #0000ff;
    color: #fff;
    padding: 22px;
    transition: 0.5s ease;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Helvetica Neue Bold', sans-serif;
    z-index: 10; }
    #headerHero #headerHeroBtn:active, #headerHero #headerHeroBtn:focus, #headerHero #headerHeroBtn:hover {
      background-color: #fff !important;
      color: #0000ff !important;
      transition: 0.5s ease; }
    @media (max-width: 435px) {
      #headerHero #headerHeroBtn {
        padding: 18px; } }
    @media (max-width: 1780px) {
      #headerHero #headerHeroBtn {
        font-size: 18px; } }
    @media (max-width: 1024px) {
      #headerHero #headerHeroBtn {
        font-size: 16px; } }
    @media (max-width: 435px) {
      #headerHero #headerHeroBtn {
        font-size: 15px; } }
  #headerHero #bottomHeaderBanner {
    background: #0000ffad;
    position: absolute;
    bottom: 0px; }
    @media (max-width: 435px) {
      #headerHero #bottomHeaderBanner {
        position: relative; } }
    #headerHero #bottomHeaderBanner .col-4 {
      width: 33.33333333% !important; }
      @media (max-width: 435px) {
        #headerHero #bottomHeaderBanner .col-4 {
          width: 100% !important; } }
    #headerHero #bottomHeaderBanner .content {
      padding: 32px 0px; }
      #headerHero #bottomHeaderBanner .content p {
        color: #fff;
        font-family: 'Helvetica Neue', sans-serif;
        vertical-align: top;
        display: inline-block;
        position: relative;
        max-width: 340px;
        margin: 0px 18px;
        font-size: 26px;
        line-height: 26px;
        padding-left: 26px;
        padding-right: 26px; }
        @media (max-width: 1780px) {
          #headerHero #bottomHeaderBanner .content p {
            font-size: 22px;
            line-height: 22px;
            padding-left: 22px;
            padding-right: 22px; } }
        @media (max-width: 1024px) {
          #headerHero #bottomHeaderBanner .content p {
            font-size: 18px;
            margin: 6px 18px; } }
      #headerHero #bottomHeaderBanner .content p:before {
        background: #fff;
        content: '';
        display: flex;
        position: absolute;
        top: 0;
        left: 0px;
        width: 8px;
        height: 100%; }
        @media (max-width: 435px) {
          #headerHero #bottomHeaderBanner .content p:before {
            width: 4px; } }

#blackBanner {
  background: linear-gradient(97deg, #383838 0%, #131313 100%);
  color: #fff; }
  #blackBanner .col-1 {
    width: 8.33333333% !important; }
    @media (max-width: 435px) {
      #blackBanner .col-1 {
        width: 100% !important; } }
  #blackBanner .col-2 {
    width: 16.66666667% !important; }
    @media (max-width: 435px) {
      #blackBanner .col-2 {
        width: 100% !important; } }
  #blackBanner .content {
    padding: 46px 0px 26px 0px;
    text-align: center; }
    #blackBanner .content img {
      max-width: 220px; }
      @media (max-width: 1024px) {
        #blackBanner .content img {
          max-width: 144px; } }
    #blackBanner .content p {
      font-family: 'Helvetica Neue';
      text-align: center;
      font-size: 19px; }

#firstBanner .content, #catalogueBlackBanner .content {
  padding: 64px 0px; }

#firstBanner h3,
#firstBanner p, #catalogueBlackBanner h3,
#catalogueBlackBanner p {
  color: #0000ff; }

#firstBanner h3, #catalogueBlackBanner h3 {
  font-family: 'Helvetica Neue Bold', sans-serif;
  font-size: 36px; }
  @media (max-width: 1780px) {
    #firstBanner h3, #catalogueBlackBanner h3 {
      font-size: 28px; } }
  @media (max-width: 1024px) {
    #firstBanner h3, #catalogueBlackBanner h3 {
      text-align: center; } }
  @media (max-width: 435px) {
    #firstBanner h3, #catalogueBlackBanner h3 {
      font-size: 26px;
      text-align: left; } }

#firstBanner p, #catalogueBlackBanner p {
  font-size: 20px; }
  @media (max-width: 1780px) {
    #firstBanner p, #catalogueBlackBanner p {
      font-size: 17px; } }

#firstBanner .description, #catalogueBlackBanner .description {
  position: relative;
  padding-left: 52px; }
  @media (max-width: 435px) {
    #firstBanner .description, #catalogueBlackBanner .description {
      padding-left: 0px; } }

#firstBanner .description:before, #catalogueBlackBanner .description:before {
  background: #0000c8;
  content: '';
  display: flex;
  position: absolute;
  top: 0;
  left: 26px;
  width: 8px;
  height: 100%; }
  @media (max-width: 435px) {
    #firstBanner .description:before, #catalogueBlackBanner .description:before {
      display: none; } }

#catalogueBlackBanner {
  background: linear-gradient(97deg, #383838 0%, #131313 100%); }
  #catalogueBlackBanner h3,
  #catalogueBlackBanner p {
    color: #fff; }
  #catalogueBlackBanner h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 36px; }
    @media (max-width: 1780px) {
      #catalogueBlackBanner h3 {
        font-size: 36px; } }
    @media (max-width: 435px) {
      #catalogueBlackBanner h3 {
        font-size: 26px;
        text-align: left; } }
  #catalogueBlackBanner .description:before {
    background-color: #fff; }

#CCM {
  background-color: #0000ff;
  color: #fff; }
  #CCM .image-container {
    text-align: center; }
  @media (max-width: 1024px) {
    #CCM #smartPhone {
      max-width: 260px; } }
  #CCM .content {
    padding: 87px 0px; }
    @media (max-width: 435px) {
      #CCM .content {
        padding: 32px 0px; } }
  #CCM .rightContent {
    padding-bottom: 64px; }
    #CCM .rightContent h3 {
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 53px;
      padding-bottom: 64px; }
      @media (max-width: 1780px) {
        #CCM .rightContent h3 {
          font-size: 46px; } }
      @media (max-width: 1024px) {
        #CCM .rightContent h3 {
          text-align: center; } }
      @media (max-width: 435px) {
        #CCM .rightContent h3 {
          padding-bottom: 32px;
          font-size: 46px; } }
    #CCM .rightContent h4 {
      font-family: 'Helvetica Neue Bold', sans-serif;
      margin-bottom: 36px; }
      @media (max-width: 1024px) {
        #CCM .rightContent h4 {
          text-align: center; } }
    #CCM .rightContent p {
      font-family: 'Helvetica Neue', sans-serif;
      margin-bottom: 52px;
      position: relative;
      padding-left: 52px; }
      @media (max-width: 435px) {
        #CCM .rightContent p {
          padding-left: 0px;
          text-align: center; } }
    #CCM .rightContent p:before {
      background: #0000c8;
      content: '';
      display: flex;
      position: absolute;
      top: 0;
      left: 26px;
      width: 8px;
      height: 100%; }
      @media (max-width: 435px) {
        #CCM .rightContent p:before {
          display: none; } }
    #CCM .rightContent p,
    #CCM .rightContent h4 {
      font-size: 19px; }

#Formats {
  background-color: white; }
  #Formats .content {
    padding: 64px 0px; }
    #Formats .content .title-container h3 {
      color: #131313;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 46px;
      font-weight: 400;
      text-align: center; }
      @media (max-width: 1780px) {
        #Formats .content .title-container h3 {
          font-size: 36px; } }
      #Formats .content .title-container h3 span {
        color: #0000ff;
        font-family: 'Helvetia Neue Bold', sans-serif;
        font-style: italic; }
  #Formats .slider {
    padding-bottom: 132px; }
    @media (max-width: 435px) {
      #Formats .slider {
        padding: 32px 0px; } }
    #Formats .slider img {
      max-width: 220px;
      margin: 0 auto; }
    #Formats .slider p {
      text-align: center;
      font-family: 'Helvetia Neue Bold', sans-serif;
      font-size: 16px;
      font-weight: 600; }
    #Formats .slider .slick-slide {
      outline: none;
      cursor: pointer; }
    @media (min-width: 1024px) {
      #Formats .slider .slick-dots {
        bottom: 72px; } }

#Exemples-S h3, #Exemples-S p, #Exemples-S li, .Section1 h3, .Section1 p, .Section1 li, .Section3 h3, .Section3 p, .Section3 li, .Section2 h3, .Section2 p, .Section2 li, .Section4 h3, .Section4 p, .Section4 li {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600; }

#Exemples-S p, #Exemples-S h4, #Exemples-S li, .Section1 p, .Section1 h4, .Section1 li, .Section3 p, .Section3 h4, .Section3 li, .Section2 p, .Section2 h4, .Section2 li, .Section4 p, .Section4 h4, .Section4 li {
  font-size: 16px; }

#Exemples-S ul, .Section1 ul, .Section3 ul, .Section2 ul, .Section4 ul {
  margin-left: 0px; }
  @media (max-width: 1024px) {
    #Exemples-S ul, .Section1 ul, .Section3 ul, .Section2 ul, .Section4 ul {
      margin: 0px; } }

#Exemples-S h3, .Section1 h3, .Section3 h3, .Section2 h3, .Section4 h3 {
  font-size: 46px; }
  @media (max-width: 435px) {
    #Exemples-S h3, .Section1 h3, .Section3 h3, .Section2 h3, .Section4 h3 {
      font-size: 36px; } }
  #Exemples-S h3 span, .Section1 h3 span, .Section3 h3 span, .Section2 h3 span, .Section4 h3 span {
    font-family: 'Helvetica Neue Bold', sans-serif; }

#Exemples-S h4, .Section1 h4, .Section3 h4, .Section2 h4, .Section4 h4 {
  font-family: 'Helvetica Neue Bold', sans-serif;
  color: #0000ff;
  font-weight: 600;
  margin-bottom: 16px; }

#Exemples-S p, .Section1 p, .Section3 p, .Section2 p, .Section4 p {
  font-weight: 600; }

#Exemples-S li, .Section1 li, .Section3 li, .Section2 li, .Section4 li {
  margin-top: 0px; }

@media (max-width: 768px) {
  #Exemples-S .content, .Section1 .content, .Section3 .content, .Section2 .content, .Section4 .content {
    text-align: center; } }

@media (max-width: 435px) {
  #Exemples-S .content, .Section1 .content, .Section3 .content, .Section2 .content, .Section4 .content {
    text-align: left; } }

#Exemples-S .title-container, .Section1 .title-container, .Section3 .title-container, .Section2 .title-container, .Section4 .title-container {
  padding-top: 0px; }

#Exemples-S .image-container, #Exemples-S .video-container, .Section1 .image-container, .Section1 .video-container, .Section3 .image-container, .Section3 .video-container, .Section2 .image-container, .Section2 .video-container, .Section4 .image-container, .Section4 .video-container {
  overflow: hidden;
  height: 700px;
  text-align: center; }
  @media (max-width: 435px) {
    #Exemples-S .image-container, #Exemples-S .video-container, .Section1 .image-container, .Section1 .video-container, .Section3 .image-container, .Section3 .video-container, .Section2 .image-container, .Section2 .video-container, .Section4 .image-container, .Section4 .video-container {
      height: auto; } }
  #Exemples-S .image-container img, #Exemples-S .image-container video, #Exemples-S .video-container img, #Exemples-S .video-container video, .Section1 .image-container img, .Section1 .image-container video, .Section1 .video-container img, .Section1 .video-container video, .Section3 .image-container img, .Section3 .image-container video, .Section3 .video-container img, .Section3 .video-container video, .Section2 .image-container img, .Section2 .image-container video, .Section2 .video-container img, .Section2 .video-container video, .Section4 .image-container img, .Section4 .image-container video, .Section4 .video-container img, .Section4 .video-container video {
    max-height: 100%;
    width: auto; }
  #Exemples-S .image-container video, #Exemples-S .image-container iframe, #Exemples-S .video-container video, #Exemples-S .video-container iframe, .Section1 .image-container video, .Section1 .image-container iframe, .Section1 .video-container video, .Section1 .video-container iframe, .Section3 .image-container video, .Section3 .image-container iframe, .Section3 .video-container video, .Section3 .video-container iframe, .Section2 .image-container video, .Section2 .image-container iframe, .Section2 .video-container video, .Section2 .video-container iframe, .Section4 .image-container video, .Section4 .image-container iframe, .Section4 .video-container video, .Section4 .video-container iframe {
    max-width: 100%; }
  @media (max-width: 1024px) {
    #Exemples-S .image-container, #Exemples-S .video-container, .Section1 .image-container, .Section1 .video-container, .Section3 .image-container, .Section3 .video-container, .Section2 .image-container, .Section2 .video-container, .Section4 .image-container, .Section4 .video-container {
      padding-top: 64px; } }
  @media (max-width: 1024px) and (max-width: 768px) {
    #Exemples-S .image-container, #Exemples-S .video-container, .Section1 .image-container, .Section1 .video-container, .Section3 .image-container, .Section3 .video-container, .Section2 .image-container, .Section2 .video-container, .Section4 .image-container, .Section4 .video-container {
      text-align: center;
      padding-top: 32px; } }
  @media (max-width: 1024px) and (max-width: 435px) {
    #Exemples-S .image-container, #Exemples-S .video-container, .Section1 .image-container, .Section1 .video-container, .Section3 .image-container, .Section3 .video-container, .Section2 .image-container, .Section2 .video-container, .Section4 .image-container, .Section4 .video-container {
      text-align: center; } }

@media (max-width: 768px) {
  #Exemples-S .title-container, .Section1 .title-container, .Section3 .title-container, .Section2 .title-container, .Section4 .title-container {
    padding-top: 32px; } }

#Exemples-S .image-left, .Section1 .image-left, .Section3 .image-left, .Section2 .image-left, .Section4 .image-left {
  text-align: left !important; }

#Exemples-S .image-right, .Section1 .image-right, .Section3 .image-right, .Section2 .image-right, .Section4 .image-right {
  text-align: right !important; }

#Exemples-S img, .Section1 img, .Section3 img, .Section2 img, .Section4 img {
  max-width: 100%; }

#Exemples-S {
  background-color: #f0f0f0; }
  #Exemples-S .Section1, #Exemples-S .Section2 {
    background-color: #f0f0f0 !important; }
    #Exemples-S .Section1 .content, #Exemples-S .Section2 .content {
      padding: 0px; }
  #Exemples-S strong {
    font-family: 'Helvetica Neue Bold', sans-serif; }
  #Exemples-S .buttonContainer {
    margin-top: 64px; }
    @media (max-width: 435px) {
      #Exemples-S .buttonContainer {
        margin-bottom: 64px; } }
  #Exemples-S h3, #Exemples-S p, #Exemples-S li {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 600; }
  #Exemples-S li {
    list-style-type: disc; }
    #Exemples-S li span {
      margin-left: -0.3rem; }
  #Exemples-S .content {
    transform: translateY(-118px);
    margin-bottom: -118px; }
    @media (max-width: 1024px) {
      #Exemples-S .content {
        transform: translateY(0px);
        margin-bottom: 0px; } }
  #Exemples-S .title-container {
    padding-top: 64px; }
    @media (max-width: 435px) {
      #Exemples-S .title-container {
        padding-top: 32px; } }
  #Exemples-S .row.last {
    padding-bottom: 64px; }
    @media (max-width: 435px) {
      #Exemples-S .row.last {
        padding-top: 32px; } }

.Section1 {
  background-color: #fff; }

.Section2 {
  background-color: #f0f0f0; }

.Section1 h3, .Section1 h4, .Section1 strong, .Section2 h3, .Section2 h4, .Section2 strong {
  font-family: 'Helvetica Neue Bold', sans-serif; }

.Section1 .content, .Section2 .content {
  padding: 60px 0px; }
  @media (max-width: 768px) {
    .Section1 .content, .Section2 .content {
      padding: 32px 0px; } }

.Section1 ul li, .Section2 ul li {
  list-style-type: disc; }
  .Section1 ul li span, .Section2 ul li span {
    margin-left: -0.3rem; }

.Section1 i, .Section2 i {
  float: right; }

#Stats {
  background-color: #0000ff;
  color: #fff;
  font-family: 'Helvetica Neue Bold', sans-serif;
  min-height: 230px;
  text-align: center; }
  #Stats .content {
    padding: 32px 0px; }
    #Stats .content .stat {
      display: inline-block;
      text-align: center;
      padding-top: 32px;
      padding-bottom: 32px; }
      @media (max-width: 435px) {
        #Stats .content .stat {
          display: block;
          padding-top: 0px; } }
      #Stats .content .stat span {
        display: block;
        margin: 0 3vw; }
      #Stats .content .stat .stat-number {
        font-family: 'Helvetica Neue Bold', sans-serif;
        font-size: 62px;
        margin-bottom: -26px; }
        @media (max-width: 1024px) {
          #Stats .content .stat .stat-number {
            font-size: 48px; } }
      #Stats .content .stat .stat-text {
        font-size: 39px; }

#whiteBook {
  min-height: 430px;
  background-image: url("img/content/white_book_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; }
  #whiteBook .content {
    padding: 98px 0px; }
    #whiteBook .content h3,
    #whiteBook .content p {
      font-family: 'Helvetica Neue', sans-serif; }
    #whiteBook .content h3 {
      font-size: 46px; }
      @media (max-width: 435px) {
        #whiteBook .content h3 {
          font-size: 36px; } }
      #whiteBook .content h3 span {
        font-family: 'Helvetica Bold', sans-serif; }
    #whiteBook .content p {
      font-size: 16px; }
    #whiteBook .content .button {
      background-color: #ffffff40;
      transition: 0.5s ease; }
      #whiteBook .content .button:hover, #whiteBook .content .button:active, #whiteBook .content .button:focus {
        background-color: #fff;
        transition: 0.5s ease; }

#expertsTeam {
  background-color: #f0f0f0; }
  #expertsTeam #teamLogo {
    max-width: 232px; }
  #expertsTeam #cardsContainer {
    padding-top: 76px;
    text-align: center; }
    @media (max-width: 1024px) {
      #expertsTeam #cardsContainer {
        padding-top: 36px; } }
    #expertsTeam #cardsContainer .card {
      display: inline-block;
      background-color: #fff;
      border-radius: 0px;
      border: none;
      overflow: hidden;
      height: 589px;
      width: 428px;
      margin-left: -2px;
      margin-right: -2px;
      vertical-align: top; }
      @media (max-width: 1298px) {
        #expertsTeam #cardsContainer .card {
          display: block;
          margin: 32px auto; } }
      @media (max-width: 435px) {
        #expertsTeam #cardsContainer .card {
          width: 100%;
          height: auto;
          margin: 0px; } }
      #expertsTeam #cardsContainer .card .card-image img {
        width: 100%; }
      #expertsTeam #cardsContainer .card .card-content {
        padding: 36px 64px; }
        #expertsTeam #cardsContainer .card .card-content h4 {
          font-family: 'Helvetica Neue Bold', sans-serif;
          font-size: 19px;
          margin-bottom: 18px; }
        #expertsTeam #cardsContainer .card .card-content p {
          font-family: 'Helvetica Neue', sans-serif;
          font-size: 16px; }
    #expertsTeam #cardsContainer .card-offset {
      margin-top: 64px; }
      @media (max-width: 1298px) {
        #expertsTeam #cardsContainer .card-offset {
          margin-top: 0px; } }
  #expertsTeam .content {
    padding: 64px 0px; }
    @media (max-width: 1024px) {
      #expertsTeam .content {
        padding: 60px 0px; } }
    @media (max-width: 435px) {
      #expertsTeam .content {
        padding: 60px 0px 0px 0px; } }
    #expertsTeam .content h3 {
      font-family: 'Helvetica Neue Bold', sans-serif; }
      #expertsTeam .content h3 span {
        font-family: 'Helvetica Neue', sans-serif; }
    #expertsTeam .content h3,
    #expertsTeam .content span {
      font-size: 42px; }
      @media (max-width: 1780px) {
        #expertsTeam .content h3,
        #expertsTeam .content span {
          font-size: 33px; } }
      @media (max-width: 435px) {
        #expertsTeam .content h3,
        #expertsTeam .content span {
          font-size: 26px; } }

#Credits {
  background-color: #0000ff;
  color: #fff; }
  #Credits .content {
    padding: 76px 0px; }
    #Credits .content h3,
    #Credits .content h4 {
      font-family: 'Helvetica Neue', sans-serif; }
    #Credits .content h3 {
      font-size: 46px; }
      @media (max-width: 435px) {
        #Credits .content h3 {
          font-size: 36px; } }
      #Credits .content h3 span {
        font-family: 'Helvetica Neue Bold', sans-serif; }
    #Credits .content h4 {
      font-size: 16px; }
    #Credits .content .buttonContainer {
      margin-top: 16px; }

#Contact {
  background-color: #fff; }
  #Contact .wpcf7-response-output {
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  #Contact .content {
    padding: 72px 0px; }
    #Contact .content h3 {
      font-size: 44px;
      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 600;
      margin-bottom: 0px; }
      @media (max-width: 435px) {
        #Contact .content h3 {
          font-size: 36px; } }
      #Contact .content h3 strong {
        color: #0000ff;
        font-family: 'Helvetica Neue Bold', sans-serif; }
  #Contact .wpcf7 {
    margin: 0 auto; }
    @media (max-width: 768px) {
      #Contact .wpcf7 {
        text-align: center; } }
  #Contact form {
    padding-top: 46px; }
    @media (max-width: 1024px) {
      #Contact form .col-6,
      #Contact form .col-12 {
        margin-bottom: 18px; } }
    #Contact form .row {
      margin-bottom: 36px; }
      @media (max-width: 1024px) {
        #Contact form .row {
          margin-bottom: 0px; } }
    #Contact form textarea,
    #Contact form input[type=submit] {
      width: 100%; }
    #Contact form textarea,
    #Contact form input[type=submit],
    #Contact form input {
      border: none;
      padding: 10px 20px;
      outline: none;
      background-color: #f0f0f0;
      width: 100%; }
    #Contact form input[type=submit] {
      background-color: #0000ff;
      color: #fff;
      transition: 0.5s ease;
      font-weight: 600;
      font-family: 'Helvetica Neue Bold', sans-serif;
      font-size: 18px;
      padding: 16px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      transition: 0.5s ease; }
      #Contact form input[type=submit]:hover, #Contact form input[type=submit]:active, #Contact form input[type=submit]:focus {
        /* transform: scale(1.01);
                transition: 0.5s ease;*/ }

/*Notifs*/
.woocommerce-notices-wrapper {
  position: absolute; }
  .woocommerce-notices-wrapper li {
    font-size: 1.6rem !important; }

.footer {
  display: none !important; }
